.wrapper {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
    max-width: 480px;
    padding: 20px;
    z-index: 1;    
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.nav {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link {
  position: relative;
  display: inline-block;
  overflow: hidden;

  font-size: 0.25rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-text-color);
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

.active {
  color: var(--accent-text-color);
  cursor: default;
}

.social{
  font-size: 0.5rem;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 40px;
  
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.closeBtn::before, .closeBtn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--green-color);
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.closeBtn::before {
  transform: rotate(45deg);
}

.closeBtn::after {
  transform: rotate(-45deg);
}

.closeBtn:hover::before, .closeBtn:hover::after {
  transform: translateY(-50%) scale(1.2) rotate(45deg);
}
