.wrapper {
    display: none;
    flex-direction: column;
    gap: 10px;
  
    margin-bottom: 10px;
    padding: 10px;
}

.contactContainer, .mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    
    width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--third-background-color);
  }
  
  .mapContainer {
    align-items: center;
  }

.text {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
    font-size: 0.5rem;
}

@media (min-width: 768px) {
    .wrapper {    
        display: flex;        
    }

}



@media (min-width: 1600px) {
    

    .contactContainer, .mapContainer {
      width: 600px;
      height: 600px;
      padding: 40px;    
    }
  
    .leaflet-container {
      width: 450px;
      height: 450px;
    }
}