.nav {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 0 auto;
}

.link {
  position: relative;

  display: inline-block;
  overflow: hidden;

  font-size: 0.5rem;
  font-weight: 500;
  text-decoration: none;
}

.active {
  color: var(--accent-text-color);
  cursor: default;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

@media (min-width: 1600px) {
  .nav {
    gap: 20px;
  }

  .link {
    font-size: 0.75rem;
  }  
}


  
  



  
  