:root {
  --green-color: #009f00;
  --primary-text-color: #003d00;
  --secondary-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #003d00;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.light {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.dark {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

* {
  box-sizing: border-box;
  padding: 0;  
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 30px;
}

.logo {
  display: none;
}

h1 {
  margin-bottom: 10px;
  font-size: 0.60rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 10px;
  font-size: 0.60rem;
  text-align: center;  
}

ul {
  list-style: none;
}

a {
  color: inherit;
  font-size: 0.5rem;
  text-decoration: none;
}

.leaflet-container {
  padding: 0;
  margin: 0 auto;
  width: 500px;  
  height: 500px;
}

.sectionsWrapper {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  border-top: 2px solid var(--green-color);  
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 0.4rem;  
}

.imgWellcomeContainer {
  width: 100%;
  height: 300px;    
  background: url("/wellcome.jpg");
  background-size: cover;
  background-position: center;
}

.imgAtmospereContainer {
  width: 100%;
  height: 300px;    
  background: url("/atmosphere.jpg");
  background-size: cover;
  background-position: center;
}

.imgOvnsContainer {
  width: 100%;
  height: 300px;    
  background: url("/ovns.jpg");
  background-size: cover;
  background-position: center;
}

.imgOvdContainer {
  width: 100%;
  height: 300px;    
  background: url("/ovd.jpg");
  background-size: cover;
  background-position: center;
}

.imgSeoContainer {
  width: 100%;
  height: 300px;    
  background: url("/seo.jpg");
  background-size: cover;
  background-position: center;
}

.imgSzzContainer {
  width: 100%;
  height: 300px;    
  background: url("/szz.jpg");
  background-size: cover;
  background-position: center;
}

.imgWasteContainer {
  width: 100%;
  height: 300px;    
  background: url("/waste.jpg");
  background-size: cover;
  background-position: center;
}

.imgWaterContainer {
  width: 100%;
  height: 300px;    
  background: url("/water.jpg");
  background-size: cover;
  background-position: center;
}

.imgLaboratoryContainer {
  width: 100%;
  height: 300px;    
  background: url("/laboratory.jpg");
  background-size: cover;
  background-position: center;
}

.imgQualificationContainer {
  width: 100%;
  height: 300px;    
  background: url("/qualification.jpg");
  background-size: cover;
  background-position: center;
}

.imgNewsContainer {
  width: 100%;
  height: 300px;    
  background: url("/news.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .sectionsWrapper {
    padding: 50px;
    max-width: 768px;
  }

  .logo {
    display: block;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 1rem;    
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 1rem;     
  }

  .textWrapper {
    gap: 35px;
  }

  .text {
    font-size: 0.6rem;
    text-align: justify;
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  .sectionsWrapper {
    max-width: 1440px;
  }

  .textWrapper {
    gap: 50px;
  }

  .text {    
    font-size: 0.75rem;
    gap: 30px;
  }
}