:root {
  --green-color: #009f00;
  --primary-text-color: #003d00;
  --secondary-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #003d00;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.light {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.dark {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 30px;
}

.logo {
  display: none;
}

@media (min-width: 768px) {
  .logo {
    display: block;
  }
}

h1 {
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 10px;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 20px;
  font-size: 0.5rem;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.leaflet-container {
  padding: 0;
  margin: 0 auto;
  width: 100vW;  
  height: 460px;
}

.sectionsWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 30px;
}

@media (min-width: 768px) {
  .sectionsWrapper {
    padding: 50px;
  }
}

.container {
  margin: 0 auto;
  max-width: 480px;
  height: 100vh;  
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}