.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}


@media (min-width: 768px) {
    .item {        
      gap: 20px;        
    }
  }
  
  @media (min-width: 1440px) {
    .item {        
      gap: 30px;        
    }
  }