.wrapper {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 10px;
  
    max-width: 480px;
    margin: 0 auto;
    padding: 10px;
}

.copyrightText {
    display: block;
    text-align: center;
  
    font-size: 0.25rem;
}

@media (min-width: 768px) {
    .wrapper {
      max-width: 768px;
    }
    
    .copyrightText {
        font-size: 0.5rem;
    }
}
  
@media (min-width: 1600px) {
    .wrapper {
      max-width: 1600px;
    }
}














.contactsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {    
    font-size: 0.5rem;
    text-align: center;
}

